In [1]:
import pandas as pd

In [2]:
songs= pd.read_csv(r"C:\Users\musta\OneDrive\Belgeler\Deneme\spotify_tracks.csv", index_col=1)

In [3]:
songs.artists

name
Acoustic                                                                      Billy Raffoul
Acoustic                                                                      Billy Raffoul
Here Comes the Sun - Acoustic                                 Molly Hocking, Bailey Rushlow
Acoustic #3                                                               The Goo Goo Dolls
My Love Mine All Mine - Acoustic Instrumental                 Guus Dielissen, Casper Esmann
                                                                    ...
Voyage to Atlantis                                                       Future World Music
L'Oiseau                                         Putumayo, Marianne Perrudin, Thomas Artaud
The Daintree                                                                Joseph Tawadros
The Sorcerers Symphony                                                   Future World Music
Fiore d'inverno                                                  Putumayo, Giacomo Lariccia
Name: artists, Length: 6300, dtype: object

In [4]:
songs["artists"]

name
Acoustic                                                                      Billy Raffoul
Acoustic                                                                      Billy Raffoul
Here Comes the Sun - Acoustic                                 Molly Hocking, Bailey Rushlow
Acoustic #3                                                               The Goo Goo Dolls
My Love Mine All Mine - Acoustic Instrumental                 Guus Dielissen, Casper Esmann
                                                                    ...
Voyage to Atlantis                                                       Future World Music
L'Oiseau                                         Putumayo, Marianne Perrudin, Thomas Artaud
The Daintree                                                                Joseph Tawadros
The Sorcerers Symphony                                                   Future World Music
Fiore d'inverno                                                  Putumayo, Giacomo Lariccia
Name: artists, Length: 6300, dtype: object

In [5]:
songs["artists"][1500]

C:\Users\musta\AppData\Local\Temp\ipykernel_3748\3277734568.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  songs["artists"][1500]

'Skrillex, Sirah'

In [6]:
songs.iloc[0]

id             7kr3xZk4yb3YSZ4VFtg2Qt
genre                        acoustic
artists                 Billy Raffoul
album                            1975
popularity                         58
duration_ms                    172199
explicit                        False
Name: Acoustic, dtype: object

In [7]:
songs.iloc[3:15:3]

,id,genre,artists,album,popularity,duration_ms,explicit
name,,,,,,,
Acoustic #3,1RC9slv335IfLce5vt9KTW,acoustic,The Goo Goo Dolls,Dizzy up the Girl,46,116573,False
Beautiful Things - Acoustic,3vpJdk93GzerZnlou6Ua0z,acoustic,Benson Boone,Daydream,0,201248,False
Acoustic Energy Vibrations,64zEnxASl3epPAIH4MsmSw,acoustic,"Healing Solfeggio Frequencies, Harmony Touch",528: Mind & Body Healing,45,118331,False
Too Good At Goodbyes - Acoustic,0i49QlMEbbbax1gZe2qQzm,acoustic,Sam Smith,Hear The Pride,0,220095,False

In [8]:
songs.iloc[:3,4]

name
Acoustic                         58
Acoustic                         57
Here Comes the Sun - Acoustic    42
Name: popularity, dtype: int64

In [9]:
songs.iloc[[0,1,4,8],4]

name
Acoustic                                         58
Acoustic                                         57
My Love Mine All Mine - Acoustic Instrumental    33
Acoustic                                         15
Name: popularity, dtype: int64

In [10]:
songs.iloc[-5:]

,id,genre,artists,album,popularity,duration_ms,explicit
name,,,,,,,
Voyage to Atlantis,4uveHSzaz8YEbTF9j6QlCI,world-music,Future World Music,Reign of Vengeance,25,180001,False
L'Oiseau,4u15cjyziW2Ewn5Ek3082l,world-music,"Putumayo, Marianne Perrudin, Thomas Artaud",Global Relaxation by Putumayo,25,276776,False
The Daintree,56pHPaTeX2O9aVmTFYS8hV,world-music,Joseph Tawadros,World Music,12,69533,False
The Sorcerers Symphony,6Ldyc5TsR4kaUsuHKcB2AD,world-music,Future World Music,Behold,26,90001,False
Fiore d'inverno,3ry0f8ybk8upUBIk8unvmF,world-music,"Putumayo, Giacomo Lariccia",World Party 5 by Putumayo,25,141800,False

In [11]:
songs.columns

Index(['id', 'genre', 'artists', 'album', 'popularity', 'duration_ms',
       'explicit'],
      dtype='object')

In [12]:
songs.loc[:, ["genre", "artists","popularity"]]

,genre,artists,popularity
name,,,
Acoustic,acoustic,Billy Raffoul,58
Acoustic,acoustic,Billy Raffoul,57
Here Comes the Sun - Acoustic,acoustic,"Molly Hocking, Bailey Rushlow",42
Acoustic #3,acoustic,The Goo Goo Dolls,46
My Love Mine All Mine - Acoustic Instrumental,acoustic,"Guus Dielissen, Casper Esmann",33
...,...,...,...
Voyage to Atlantis,world-music,Future World Music,25
L'Oiseau,world-music,"Putumayo, Marianne Perrudin, Thomas Artaud",25
The Daintree,world-music,Joseph Tawadros,12
The Sorcerers Symphony,world-music,Future World Music,26
Fiore d'inverno,world-music,"Putumayo, Giacomo Lariccia",25

In [13]:
songs.set_index("popularity")

,id,genre,artists,album,duration_ms,explicit
popularity,,,,,,
58,7kr3xZk4yb3YSZ4VFtg2Qt,acoustic,Billy Raffoul,1975,172199,False
57,1kJygfS4eoVziBBI93MSYp,acoustic,Billy Raffoul,A Few More Hours at YYZ,172202,False
42,6lynns69p4zTCRxmmiSY1x,acoustic,"Molly Hocking, Bailey Rushlow",Here Comes the Sun (Acoustic),144786,False
46,1RC9slv335IfLce5vt9KTW,acoustic,The Goo Goo Dolls,Dizzy up the Girl,116573,False
33,5o9L8xBuILoVjLECSBi7Vo,acoustic,"Guus Dielissen, Casper Esmann",My Love Mine All Mine (Acoustic Instrumental),133922,False
...,...,...,...,...,...,...
25,4uveHSzaz8YEbTF9j6QlCI,world-music,Future World Music,Reign of Vengeance,180001,False
25,4u15cjyziW2Ewn5Ek3082l,world-music,"Putumayo, Marianne Perrudin, Thomas Artaud",Global Relaxation by Putumayo,276776,False
12,56pHPaTeX2O9aVmTFYS8hV,world-music,Joseph Tawadros,World Music,69533,False
26,6Ldyc5TsR4kaUsuHKcB2AD,world-music,Future World Music,Behold,90001,False
25,3ry0f8ybk8upUBIk8unvmF,world-music,"Putumayo, Giacomo Lariccia",World Party 5 by Putumayo,141800,False

In [14]:
songs["popularity"]==80

name
Acoustic                                         False
Acoustic                                         False
Here Comes the Sun - Acoustic                    False
Acoustic #3                                      False
My Love Mine All Mine - Acoustic Instrumental    False
                                                 ...
Voyage to Atlantis                               False
L'Oiseau                                         False
The Daintree                                     False
The Sorcerers Symphony                           False
Fiore d'inverno                                  False
Name: popularity, Length: 6300, dtype: bool

In [15]:
songs.loc[songs["popularity"]>=90]

,id,genre,artists,album,popularity,duration_ms,explicit
name,,,,,,,
Houdini,2HYFX63wP3otVIvopRS99Z,edm,Eminem,Houdini,90,227239,True

In [16]:
songs.loc[(songs["genre"]=="edm") & (songs["popularity"]>=75)]

,id,genre,artists,album,popularity,duration_ms,explicit
name,,,,,,,
Houdini,2HYFX63wP3otVIvopRS99Z,edm,Eminem,Houdini,90,227239,True

In [17]:
songs.loc[(songs["genre"]=="acoustic")| (songs["popularity"]>=75)]

,id,genre,artists,album,popularity,duration_ms,explicit
name,,,,,,,
Acoustic,7kr3xZk4yb3YSZ4VFtg2Qt,acoustic,Billy Raffoul,1975,58,172199,False
Acoustic,1kJygfS4eoVziBBI93MSYp,acoustic,Billy Raffoul,A Few More Hours at YYZ,57,172202,False
Here Comes the Sun - Acoustic,6lynns69p4zTCRxmmiSY1x,acoustic,"Molly Hocking, Bailey Rushlow",Here Comes the Sun (Acoustic),42,144786,False
Acoustic #3,1RC9slv335IfLce5vt9KTW,acoustic,The Goo Goo Dolls,Dizzy up the Girl,46,116573,False
My Love Mine All Mine - Acoustic Instrumental,5o9L8xBuILoVjLECSBi7Vo,acoustic,"Guus Dielissen, Casper Esmann",My Love Mine All Mine (Acoustic Instrumental),33,133922,False
...,...,...,...,...,...,...,...
Vois sur ton chemin - Techno Mix,31nfdEooLEq7dn3UMcIeB5,techno,BENNETT,Vois sur ton chemin (Techno Mix),80,178156,False
Trance (with Travis Scott & Young Thug),5wG3HvLhF6Y5KTGlK0IW3J,trance,"Metro Boomin, Travis Scott, Young Thug",HEROES & VILLAINS,78,194786,True
Too Many Nights (feat. Don Toliver & with Future),2Hh3ETdQKrmSI3QS0hme7g,trance,"Metro Boomin, Future, Don Toliver",HEROES & VILLAINS,80,199920,True
I KNOW ?,6wsqVwoiVH2kde4k4KKAFU,trance,Travis Scott,UTOPIA,81,211582,True
Work Out,2wAJTrFhCnQyNSD3oUgTZO,work-out,J. Cole,Cole World: The Sideline Story,76,235320,True

In [18]:
songs.loc[songs["artists"].isin(["Eminem"])]

,id,genre,artists,album,popularity,duration_ms,explicit
name,,,,,,,
Discombobulated,1oHXeD1gQQCQUYHeHp2HMU,disco,Eminem,Music To Be Murdered By - Side B (Deluxe Edition),49,252578,True
Houdini,2HYFX63wP3otVIvopRS99Z,edm,Eminem,Houdini,90,227239,True

In [19]:
songs.loc[songs["album"].notnull()]

,id,genre,artists,album,popularity,duration_ms,explicit
name,,,,,,,
Acoustic,7kr3xZk4yb3YSZ4VFtg2Qt,acoustic,Billy Raffoul,1975,58,172199,False
Acoustic,1kJygfS4eoVziBBI93MSYp,acoustic,Billy Raffoul,A Few More Hours at YYZ,57,172202,False
Here Comes the Sun - Acoustic,6lynns69p4zTCRxmmiSY1x,acoustic,"Molly Hocking, Bailey Rushlow",Here Comes the Sun (Acoustic),42,144786,False
Acoustic #3,1RC9slv335IfLce5vt9KTW,acoustic,The Goo Goo Dolls,Dizzy up the Girl,46,116573,False
My Love Mine All Mine - Acoustic Instrumental,5o9L8xBuILoVjLECSBi7Vo,acoustic,"Guus Dielissen, Casper Esmann",My Love Mine All Mine (Acoustic Instrumental),33,133922,False
...,...,...,...,...,...,...,...
Voyage to Atlantis,4uveHSzaz8YEbTF9j6QlCI,world-music,Future World Music,Reign of Vengeance,25,180001,False
L'Oiseau,4u15cjyziW2Ewn5Ek3082l,world-music,"Putumayo, Marianne Perrudin, Thomas Artaud",Global Relaxation by Putumayo,25,276776,False
The Daintree,56pHPaTeX2O9aVmTFYS8hV,world-music,Joseph Tawadros,World Music,12,69533,False
The Sorcerers Symphony,6Ldyc5TsR4kaUsuHKcB2AD,world-music,Future World Music,Behold,26,90001,False
Fiore d'inverno,3ry0f8ybk8upUBIk8unvmF,world-music,"Putumayo, Giacomo Lariccia",World Party 5 by Putumayo,25,141800,False

In [20]:
songs.loc[songs["duration_ms"].isnull()]

Empty DataFrame
Columns: [id, genre, artists, album, popularity, duration_ms, explicit]
Index: []

In [21]:
songs["id"]=3169
songs.head()

,id,genre,artists,album,popularity,duration_ms,explicit
name,,,,,,,
Acoustic,3169,acoustic,Billy Raffoul,1975,58,172199,False
Acoustic,3169,acoustic,Billy Raffoul,A Few More Hours at YYZ,57,172202,False
Here Comes the Sun - Acoustic,3169,acoustic,"Molly Hocking, Bailey Rushlow",Here Comes the Sun (Acoustic),42,144786,False
Acoustic #3,3169,acoustic,The Goo Goo Dolls,Dizzy up the Girl,46,116573,False
My Love Mine All Mine - Acoustic Instrumental,3169,acoustic,"Guus Dielissen, Casper Esmann",My Love Mine All Mine (Acoustic Instrumental),33,133922,False

In [22]:
songs["id"]= range(len(songs),0,-1)
songs.head()

,id,genre,artists,album,popularity,duration_ms,explicit
name,,,,,,,
Acoustic,6300,acoustic,Billy Raffoul,1975,58,172199,False
Acoustic,6299,acoustic,Billy Raffoul,A Few More Hours at YYZ,57,172202,False
Here Comes the Sun - Acoustic,6298,acoustic,"Molly Hocking, Bailey Rushlow",Here Comes the Sun (Acoustic),42,144786,False
Acoustic #3,6297,acoustic,The Goo Goo Dolls,Dizzy up the Girl,46,116573,False
My Love Mine All Mine - Acoustic Instrumental,6296,acoustic,"Guus Dielissen, Casper Esmann",My Love Mine All Mine (Acoustic Instrumental),33,133922,False

In [23]:
songs.tail()

,id,genre,artists,album,popularity,duration_ms,explicit
name,,,,,,,
Voyage to Atlantis,5,world-music,Future World Music,Reign of Vengeance,25,180001,False
L'Oiseau,4,world-music,"Putumayo, Marianne Perrudin, Thomas Artaud",Global Relaxation by Putumayo,25,276776,False
The Daintree,3,world-music,Joseph Tawadros,World Music,12,69533,False
The Sorcerers Symphony,2,world-music,Future World Music,Behold,26,90001,False
Fiore d'inverno,1,world-music,"Putumayo, Giacomo Lariccia",World Party 5 by Putumayo,25,141800,False

In [24]:
songs.describe()

               id   popularity   duration_ms
count  6300.00000  6300.000000  6.300000e+03
mean   3150.50000    30.754762  2.028477e+05
std    1818.79768    19.948991  1.210299e+05
min       1.00000     0.000000  3.006000e+04
25%    1575.75000    16.000000  1.476870e+05
50%    3150.50000    29.000000  1.916070e+05
75%    4725.25000    45.000000  2.369625e+05
max    6300.00000    90.000000  3.601658e+06

In [25]:
songs["artists"].describe()

count          6300
unique         4651
top       Metallica
freq             22
Name: artists, dtype: object

In [26]:
songs["popularity"].mean()

np.float64(30.754761904761907)

In [27]:
songs["artists"].unique()

array(['Billy Raffoul', 'Molly Hocking, Bailey Rushlow',
       'The Goo Goo Dolls', ..., 'World Music Atelier',
       'Putumayo, Marianne Perrudin, Thomas Artaud',
       'Putumayo, Giacomo Lariccia'], shape=(4651,), dtype=object)

In [28]:
songs["artists"].value_counts()

artists
Metallica                     22
ONE OK ROCK                   20
Chicago House Selection       18
Death                         17
Progressive House Sessions    16
                              ..
Cody Fry                       1
SLANDER, Dylan Matthew         1
Lesfm, Olexy                   1
The Moon Loungers              1
BradBrooks, Pamela Bravo       1
Name: count, Length: 4651, dtype: int64

In [29]:
pop_mean= songs["popularity"].mean()
songs["popularity"].map(lambda p: p-pop_mean)

name
Acoustic                                         27.245238
Acoustic                                         26.245238
Here Comes the Sun - Acoustic                    11.245238
Acoustic #3                                      15.245238
My Love Mine All Mine - Acoustic Instrumental     2.245238
                                                   ...
Voyage to Atlantis                               -5.754762
L'Oiseau                                         -5.754762
The Daintree                                    -18.754762
The Sorcerers Symphony                           -4.754762
Fiore d'inverno                                  -5.754762
Name: popularity, Length: 6300, dtype: float64

In [30]:
ms=songs["duration_ms"].mean()
songs["duration_ms"].map(lambda p : p- ms)

name
Acoustic                                         -30648.735238
Acoustic                                         -30645.735238
Here Comes the Sun - Acoustic                    -58061.735238
Acoustic #3                                      -86274.735238
My Love Mine All Mine - Acoustic Instrumental    -68925.735238
                                                     ...
Voyage to Atlantis                               -22846.735238
L'Oiseau                                          73928.264762
The Daintree                                    -133314.735238
The Sorcerers Symphony                          -112846.735238
Fiore d'inverno                                  -61047.735238
Name: duration_ms, Length: 6300, dtype: float64

In [31]:
songs["genre"]=songs["genre"].apply(lambda t: t.upper())
songs.head()

,id,genre,artists,album,popularity,duration_ms,explicit
name,,,,,,,
Acoustic,6300,ACOUSTIC,Billy Raffoul,1975,58,172199,False
Acoustic,6299,ACOUSTIC,Billy Raffoul,A Few More Hours at YYZ,57,172202,False
Here Comes the Sun - Acoustic,6298,ACOUSTIC,"Molly Hocking, Bailey Rushlow",Here Comes the Sun (Acoustic),42,144786,False
Acoustic #3,6297,ACOUSTIC,The Goo Goo Dolls,Dizzy up the Girl,46,116573,False
My Love Mine All Mine - Acoustic Instrumental,6296,ACOUSTIC,"Guus Dielissen, Casper Esmann",My Love Mine All Mine (Acoustic Instrumental),33,133922,False

In [32]:
songs.apply(lambda col: col.max())

id                    6300
genre          WORLD-MUSIC
artists                서이브
album              가자, 밤으로
popularity              90
duration_ms        3601658
explicit              True
dtype: object

In [33]:
songs.apply(lambda row: row["popularity"], axis=1)

name
Acoustic                                         58
Acoustic                                         57
Here Comes the Sun - Acoustic                    42
Acoustic #3                                      46
My Love Mine All Mine - Acoustic Instrumental    33
                                                 ..
Voyage to Atlantis                               25
L'Oiseau                                         25
The Daintree                                     12
The Sorcerers Symphony                           26
Fiore d'inverno                                  25
Length: 6300, dtype: int64

In [34]:
songs["popularity_norm"] = songs["popularity"].apply(
    lambda p: (p - songs["popularity"].mean()) / songs["popularity"].std()
)
songs.head()

,id,genre,artists,album,popularity,duration_ms,explicit,popularity_norm
name,,,,,,,,
Acoustic,6300,ACOUSTIC,Billy Raffoul,1975,58,172199,False,1.365745
Acoustic,6299,ACOUSTIC,Billy Raffoul,A Few More Hours at YYZ,57,172202,False,1.315617
Here Comes the Sun - Acoustic,6298,ACOUSTIC,"Molly Hocking, Bailey Rushlow",Here Comes the Sun (Acoustic),42,144786,False,0.563700
Acoustic #3,6297,ACOUSTIC,The Goo Goo Dolls,Dizzy up the Girl,46,116573,False,0.764211
My Love Mine All Mine - Acoustic Instrumental,6296,ACOUSTIC,"Guus Dielissen, Casper Esmann",My Love Mine All Mine (Acoustic Instrumental),33,133922,False,0.112549

In [35]:
songs.loc[(songs["artists"]=="Eminem") | (songs["popularity_norm"]>=2.800000)]

,id,genre,artists,album,popularity,duration_ms,explicit,popularity_norm
name,,,,,,,,
Discombobulated,4981,DISCO,Eminem,Music To Be Murdered By - Side B (Deluxe Edition),49,252578,True,0.914595
Houdini,4733,EDM,Eminem,Houdini,90,227239,True,2.969836
As It Was,3503,HOUSE,Harry Styles,Harry's House,87,167303,False,2.819453
"One Of The Girls (with JENNIE, Lily Rose Depp)",3142,J-IDOL,"The Weeknd, JENNIE, Lily-Rose Depp",The Idol Episode 4 (Music from the HBO Origina...,87,244684,False,2.819453
BAND4BAND (feat. Lil Baby),1554,R-N-B,"Central Cee, Lil Baby",BAND4BAND (feat. Lil Baby),87,140733,True,2.819453
Clean Baby Sleep White Noise (Loopable),760,SLEEP,"Dream Supplier, Baby Sleeps, Background White ...",Best White Noise For Sleeping Baby,88,142222,False,2.869581

In [36]:
songs["id"].map(lambda p: p-100 if (p-100)>=0 else p)

name
Acoustic                                         6200
Acoustic                                         6199
Here Comes the Sun - Acoustic                    6198
Acoustic #3                                      6197
My Love Mine All Mine - Acoustic Instrumental    6196
                                                 ...
Voyage to Atlantis                                  5
L'Oiseau                                            4
The Daintree                                        3
The Sorcerers Symphony                              2
Fiore d'inverno                                     1
Name: id, Length: 6300, dtype: int64

In [37]:
df = pd.DataFrame({
    "name": ["Ahmet", "Ayşe", "Mehmet", "Fatma", "Baturalp"],
    "age": [20, 17, 35, 15,28],
    "score": [55, 88, 40, 95,60]
})
df.head()

       name  age  score
0     Ahmet   20     55
1      Ayşe   17     88
2    Mehmet   35     40
3     Fatma   15     95
4  Baturalp   28     60

In [38]:
df["Category"] = df["age"].map(
    lambda p: "Kid" if p < 18 else ("Young" if p < 31 else "Adult")
)
df.head()

       name  age  score Category
0     Ahmet   20     55    Young
1      Ayşe   17     88      Kid
2    Mehmet   35     40    Adult
3     Fatma   15     95      Kid
4  Baturalp   28     60    Young

In [39]:
df["Result"]=df["score"].apply(
    lambda p: "Pass" if p>60 else ("Fail" if p<60 else "Average-Pass")
)
df.head()

       name  age  score Category        Result
0     Ahmet   20     55    Young          Fail
1      Ayşe   17     88      Kid          Pass
2    Mehmet   35     40    Adult          Fail
3     Fatma   15     95      Kid          Pass
4  Baturalp   28     60    Young  Average-Pass

In [40]:
df["Name Len"]= df["name"].apply(
    lambda p: len(p)

)
df.head()

       name  age  score Category        Result  Name Len
0     Ahmet   20     55    Young          Fail         5
1      Ayşe   17     88      Kid          Pass         4
2    Mehmet   35     40    Adult          Fail         6
3     Fatma   15     95      Kid          Pass         5
4  Baturalp   28     60    Young  Average-Pass         8

In [41]:
songs_sorted = songs.sort_values("popularity" ,ascending= False)
grouped = songs_sorted.groupby("popularity")
grouped.tail()

,id,genre,artists,album,popularity,duration_ms,explicit,popularity_norm
name,,,,,,,,
Houdini,4733,EDM,Eminem,Houdini,90,227239,True,2.969836
Clean Baby Sleep White Noise (Loopable),760,SLEEP,"Dream Supplier, Baby Sleeps, Background White ...",Best White Noise For Sleeping Baby,88,142222,False,2.869581
As It Was,3503,HOUSE,Harry Styles,Harry's House,87,167303,False,2.819453
"One Of The Girls (with JENNIE, Lily Rose Depp)",3142,J-IDOL,"The Weeknd, JENNIE, Lily-Rose Depp",The Idol Episode 4 (Music from the HBO Origina...,87,244684,False,2.819453
BAND4BAND (feat. Lil Baby),1554,R-N-B,"Central Cee, Lil Baby",BAND4BAND (feat. Lil Baby),87,140733,True,2.819453
...,...,...,...,...,...,...,...,...
Pra Você Guardei O Amor - Remix,2353,MPB,"Nando Reis, Ana Cañas",Remixes MPB,0,228000,False,-1.541670
Mania De Você - Dubdogz & Watzgood Remix / Radio Edit,2352,MPB,"Rita Lee, Dubdogz, Watzgood",Remixes MPB,0,195840,False,-1.541670
New-Age,2350,NEW-AGE,Yung SiLas,I'm ME,0,161515,True,-1.541670
New-Age,2345,NEW-AGE,"Elkino, Jboy",New-Age,0,228392,True,-1.541670
Mpb,2376,MPB,Grupo Sem Maldade,Acústico Rádio Nova Metrô,0,561312,False,-1.541670

In [42]:
songs.groupby("popularity")["popularity"].count()

popularity
0     470
1     101
2      71
3      65
4      52
     ...
85      2
86      3
87      3
88      1
90      1
Name: popularity, Length: 90, dtype: int64

In [43]:
songs.groupby('artists').apply(lambda p: p.genre.iloc[0])

C:\Users\musta\AppData\Local\Temp\ipykernel_3748\721386133.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  songs.groupby('artists').apply(lambda p: p.genre.iloc[0])

artists
"Weird Al" Yankovic         ALTERNATIVE
$anto, Satsu¿                  HARDCORE
$tupid Young, Mozzy            MANDOPOP
$uicideboy$, Black Smurf         GERMAN
(((()))), surround.              TRANCE
                               ...
鈴木 弘                            ROMANCE
闻人听書_                          MANDOPOP
陶晶瑩                            MANDOPOP
黃小琥                            MANDOPOP
서이브                               MALAY
Length: 4651, dtype: object

In [44]:
songs.groupby("artists")["genre"].first()

artists
"Weird Al" Yankovic         ALTERNATIVE
$anto, Satsu¿                  HARDCORE
$tupid Young, Mozzy            MANDOPOP
$uicideboy$, Black Smurf         GERMAN
(((()))), surround.              TRANCE
                               ...
鈴木 弘                            ROMANCE
闻人听書_                          MANDOPOP
陶晶瑩                            MANDOPOP
黃小琥                            MANDOPOP
서이브                               MALAY
Name: genre, Length: 4651, dtype: object

In [45]:
idx = songs.groupby(['artists', 'genre'])['popularity'].idxmax()
top_songs = songs.loc[idx]
top_songs.head()

,id,genre,artists,album,popularity,duration_ms,explicit,popularity_norm
name,,,,,,,,
The Alternative Polka,6128,ALTERNATIVE,"""Weird Al"" Yankovic",Bad Hair Day,34,290906,False,0.162677
"Party In the CIA (Parody of ""Party In The U.S.A."" by Miley Cyrus)",2128,PARTY,"""Weird Al"" Yankovic",Alpocalypse,46,176800,False,0.764211
RATED R,3820,HARDCORE,"$anto, Satsu¿",NEGATIVE,20,123321,True,-0.539113
Mando (feat. Mozzy),2697,MANDOPOP,"$tupid Young, Mozzy",One of One,47,170805,True,0.814339
Germantown,4300,GERMAN,"$uicideboy$, Black Smurf",Black $uicide Side C: The Seventh Seal,48,227421,True,0.864467

In [46]:
top_song = songs.sort_values('popularity', ascending=False).groupby(['artists','genre']).first().reset_index()
top_song.head()

,artists,genre,id,album,popularity,duration_ms,explicit,popularity_norm
0,"""Weird Al"" Yankovic",ALTERNATIVE,6128,Bad Hair Day,34,290906,False,0.162677
1,"""Weird Al"" Yankovic",PARTY,2128,Alpocalypse,46,176800,False,0.764211
2,"$anto, Satsu¿",HARDCORE,3820,NEGATIVE,20,123321,True,-0.539113
3,"$tupid Young, Mozzy",MANDOPOP,2697,One of One,47,170805,True,0.814339
4,"$uicideboy$, Black Smurf",GERMAN,4300,Black $uicide Side C: The Seventh Seal,48,227421,True,0.864467

In [47]:
songs.groupby("genre").popularity.agg([len ,min, max])

C:\Users\musta\AppData\Local\Temp\ipykernel_3748\4160941905.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  songs.groupby("genre").popularity.agg([len ,min, max])
C:\Users\musta\AppData\Local\Temp\ipykernel_3748\4160941905.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  songs.groupby("genre").popularity.agg([len ,min, max])

             len  min  max
genre
ACOUSTIC      50    0   71
AFROBEAT      50    0   69
ALT-ROCK      50    0   57
ALTERNATIVE   50    4   50
AMBIENT       50    6   62
...          ...  ...  ...
TRANCE        50   15   81
TRIP-HOP      50    0   67
TURKISH       50    0   67
WORK-OUT      50    0   76
WORLD-MUSIC   50    2   51

[126 rows x 3 columns]

In [48]:
turkey=songs.loc[songs["genre"]=="TURKISH"]
turkey.sort_values(by="popularity", ascending= False)

,id,genre,artists,album,popularity,duration_ms,explicit,popularity_norm
name,,,,,,,,
M.,130,TURKISH,Anıl Emre Daldal,M.,67,223750,False,1.816896
Şımarık,142,TURKISH,Tarkan,Ölürüm Sana,61,235218,False,1.516129
Für Elise,139,TURKISH,Ludwig van Beethoven,Classical Best Of,52,173000,False,1.064978
Waltz No.2,147,TURKISH,Cihat Aşkın,Türk Valsleri,46,240306,False,0.764211
Turkish Cotton,149,TURKISH,"Larry June, The Alchemist",The Great Escape,46,166053,True,0.764211
Rondo Alla Turca (Turkish March),146,TURKISH,Brain Power Amadeus,Mozart Effect,42,182044,False,0.563700
Turkish Coffee,145,TURKISH,BALTHVS,Cause & Effect,39,217500,False,0.413316
Turkish Disco,148,TURKISH,Fugazi,Instrument Soundtrack,39,154840,False,0.413316
Cascade,140,TURKISH,Turkish Delight,Cascade,39,168000,False,0.413316
Turkish March,150,TURKISH,"Wolfgang Amadeus Mozart, Boris Apostolov",Classical Piano for Children,39,196000,False,0.413316
Aşkın Sırrı Bilinmez,113,TURKISH,Turkish Delight,Kardan Adam,33,123818,False,0.112549
Turkish Song of the Damned,137,TURKISH,The Pogues,If I Should Fall from Grace with God (Expanded...,32,206866,False,0.062421
turkish coffee,141,TURKISH,Raouf Beats,Fnatic Island Vol. 1,31,123548,False,0.012293
Turkish [Feat. Meyhem Lauren],143,TURKISH,"Action Bronson, Meyhem Lauren",Cocodrillo Turbo,30,220693,True,-0.037835
Turkish Delight,131,TURKISH,Carsten Rubeling,Turkish Delight,29,240540,False,-0.087962
Turkish Nights,125,TURKISH,"Infected Mushroom, Joseph E-Shine",IM25,29,326068,False,-0.087962
Turkish,126,TURKISH,4.4c,Turkish,28,149169,True,-0.138090
Bir Çoban,107,TURKISH,Turkish Delight,Prophecy,28,72750,False,-0.138090
Turkish March,109,TURKISH,Little Owl,Mozart for Babies,27,56212,False,-0.188218
Turkish Blood Orgy,138,TURKISH,Sanguisugabogg,Pornographic Seizures - EP,26,89000,True,-0.238346
Turkish March but Phonk,105,TURKISH,borgawr,Turkish March but Phonk,26,131227,False,-0.238346
Turkish Summer,132,TURKISH,Sophia Brno,Old Time Lounge,25,128006,False,-0.288474
Turkish Link,135,TURKISH,The Alchemist,"Flying High, Part 2",25,107746,True,-0.288474
TURKISH FUNK,114,TURKISH,"TBT Prod., C3N6",TURKISH FUNK,24,118177,False,-0.338602
Turkish Delight,134,TURKISH,Govi,Touch of Light,24,285453,False,-0.338602
Turkish Food,136,TURKISH,Hype Right,RR,23,230887,False,-0.388730
Turkish Coffee Shop,129,TURKISH,Lost & Sound,Busy Cafe Background Noise,22,144000,False,-0.438857
Turkish Coffee,111,TURKISH,BALTHVS,Turkish Coffee,20,217500,False,-0.539113
Turkish Coffee,119,TURKISH,Manwolves,Turkish Coffee,19,138604,False,-0.589241
"Beethoven: Turkish March, Op. 113 No. 4",133,TURKISH,"Ludwig van Beethoven, Valentina Lisitsa",Beethoven 101,17,125638,False,-0.689497
Turkish Night,118,TURKISH,"O. Liebert, Ottmar Liebert + Luna Negra",The Best Of Ottmar Liebert,17,267600,False,-0.689497
Turkish Rondo,102,TURKISH,Cyrus Chestnut,Kaleidoscope,17,217119,False,-0.689497
Turkish Bath,104,TURKISH,"Don Ellis, The Don Ellis Orchestra",Electric Bath,15,628600,False,-0.789752
Turkish,115,TURKISH,The Flabbies,Turkish,14,253779,False,-0.839880
Turkish March,116,TURKISH,Wolfgang Amadeus Mozart,Brahms' Lullaby and Other Classical Music for ...,13,141010,False,-0.890008
Turkish March,101,TURKISH,Claude Bourbon,Over The Mountains,13,135392,False,-0.890008
Turkish March,144,TURKISH,"Ludwig van Beethoven, Arthur Fiedler",Fiedler's Favorite Marches,12,97626,False,-0.940136
Turkish March,124,TURKISH,Arthur Fiedler,100 Fiedler Favorites,12,97733,False,-0.940136
Turkish,123,TURKISH,Fardi,Turkish,12,100000,False,-0.940136
Turkish Honey,127,TURKISH,Kava Kon,Tiki for the Atomic Age,11,194080,False,-0.990264
Turkish Night,121,TURKISH,Ottmar Liebert + Luna Negra,Opium,9,269000,False,-1.090519
Turkish,128,TURKISH,Rick Braun,Rick Braun,8,301733,False,-1.140647
Ruins of Athens. Op. 113.: Turkish March or March (Arr. Solo Piano by Novaes) - Welte-Mignon 2881,122,TURKISH,"Ludwig van Beethoven, Guiomar Novaes, Peter Ph...",The Legacy of Beethoven,6,147489,False,-1.240903
TURKISH,117,TURKISH,OLZXVS,TURKISH,5,166798,False,-1.291031
Turkish,112,TURKISH,Sonny Lester Orchestra,How To Belly Dance,2,199360,False,-1.441414
Turkish,120,TURKISH,"Ann Corio, Sonny Lester",How to Strip for Your Husband,1,101253,False,-1.491542
Turkish,110,TURKISH,Howard Shore,"Collector's Edition, Vol. 1",1,312133,False,-1.491542
Turkish,108,TURKISH,ewonee,Fakie Flip,0,95460,False,-1.541670
Turkish,106,TURKISH,Sheva,Sheva,0,544453,False,-1.541670
Turkish,103,TURKISH,"Not Breathing, Rotorhead",Dr. Speedlove Presents: Chemical Warfare ( Mix...,0,294093,False,-1.541670

In [49]:
xf=songs.groupby(["explicit", "genre"])["artists"].agg(len)
xf

explicit  genre
False     ACOUSTIC       46
          AFROBEAT       42
          ALT-ROCK       44
          ALTERNATIVE    43
          AMBIENT        50
                         ..
True      TRANCE         16
          TRIP-HOP        4
          TURKISH         5
          WORK-OUT       21
          WORLD-MUSIC     1
Name: artists, Length: 249, dtype: int64

In [50]:
xi = xf.index
type(xi)

pandas.core.indexes.multi.MultiIndex

In [51]:
xf.reset_index()

     explicit        genre  artists
0       False     ACOUSTIC       46
1       False     AFROBEAT       42
2       False     ALT-ROCK       44
3       False  ALTERNATIVE       43
4       False      AMBIENT       50
..        ...          ...      ...
244      True       TRANCE       16
245      True     TRIP-HOP        4
246      True      TURKISH        5
247      True     WORK-OUT       21
248      True  WORLD-MUSIC        1

[249 rows x 3 columns]

In [52]:
df= songs.groupby("genre").popularity.agg([len ,min, max])
df.sort_values(by="max", ascending= False)

C:\Users\musta\AppData\Local\Temp\ipykernel_3748\1936642135.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df= songs.groupby("genre").popularity.agg([len ,min, max])
C:\Users\musta\AppData\Local\Temp\ipykernel_3748\1936642135.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df= songs.groupby("genre").popularity.agg([len ,min, max])

                   len  min  max
genre
EDM                 50    0   90
SLEEP               50   30   88
J-IDOL              50    7   87
R-N-B               50    0   87
HOUSE               50    0   87
...                ...  ...  ...
INDUSTRIAL          50    0   39
ELECTRONIC          50    0   37
PROGRESSIVE-HOUSE   50    0   37
IRANIAN             50    0   36
DETROIT-TECHNO      50    0   32

[126 rows x 3 columns]

In [53]:
df.sort_index()

             len  min  max
genre
ACOUSTIC      50    0   71
AFROBEAT      50    0   69
ALT-ROCK      50    0   57
ALTERNATIVE   50    4   50
AMBIENT       50    6   62
...          ...  ...  ...
TRANCE        50   15   81
TRIP-HOP      50    0   67
TURKISH       50    0   67
WORK-OUT      50    0   76
WORLD-MUSIC   50    2   51

[126 rows x 3 columns]

In [57]:
df.sort_values(by=["max", "min"])

                   len  min  max
genre
DETROIT-TECHNO      50    0   32
IRANIAN             50    0   36
ELECTRONIC          50    0   37
PROGRESSIVE-HOUSE   50    0   37
INDUSTRIAL          50    0   39
...                ...  ...  ...
HOUSE               50    0   87
R-N-B               50    0   87
J-IDOL              50    7   87
SLEEP               50   30   88
EDM                 50    0   90

[126 rows x 3 columns]

In [66]:
songs.dtypes

id                   int64
genre               object
artists             object
album               object
popularity           int64
duration_ms          int64
explicit              bool
popularity_norm    float64
dtype: object

In [62]:
songs["popularity"].astype("float64")

name
Acoustic                                         58.0
Acoustic                                         57.0
Here Comes the Sun - Acoustic                    42.0
Acoustic #3                                      46.0
My Love Mine All Mine - Acoustic Instrumental    33.0
                                                 ...
Voyage to Atlantis                               25.0
L'Oiseau                                         25.0
The Daintree                                     12.0
The Sorcerers Symphony                           26.0
Fiore d'inverno                                  25.0
Name: popularity, Length: 6300, dtype: float64

In [64]:
songs.index.dtype

dtype('O')

In [65]:
songs[pd.isnull(songs["genre"])]

Empty DataFrame
Columns: [id, genre, artists, album, popularity, duration_ms, explicit, popularity_norm]
Index: []

In [67]:
songs[pd.notnull(songs["album"])]

,id,genre,artists,album,popularity,duration_ms,explicit,popularity_norm
name,,,,,,,,
Acoustic,6300,ACOUSTIC,Billy Raffoul,1975,58,172199,False,1.365745
Acoustic,6299,ACOUSTIC,Billy Raffoul,A Few More Hours at YYZ,57,172202,False,1.315617
Here Comes the Sun - Acoustic,6298,ACOUSTIC,"Molly Hocking, Bailey Rushlow",Here Comes the Sun (Acoustic),42,144786,False,0.563700
Acoustic #3,6297,ACOUSTIC,The Goo Goo Dolls,Dizzy up the Girl,46,116573,False,0.764211
My Love Mine All Mine - Acoustic Instrumental,6296,ACOUSTIC,"Guus Dielissen, Casper Esmann",My Love Mine All Mine (Acoustic Instrumental),33,133922,False,0.112549
...,...,...,...,...,...,...,...,...
Voyage to Atlantis,5,WORLD-MUSIC,Future World Music,Reign of Vengeance,25,180001,False,-0.288474
L'Oiseau,4,WORLD-MUSIC,"Putumayo, Marianne Perrudin, Thomas Artaud",Global Relaxation by Putumayo,25,276776,False,-0.288474
The Daintree,3,WORLD-MUSIC,Joseph Tawadros,World Music,12,69533,False,-0.940136
The Sorcerers Symphony,2,WORLD-MUSIC,Future World Music,Behold,26,90001,False,-0.238346
Fiore d'inverno,1,WORLD-MUSIC,"Putumayo, Giacomo Lariccia",World Party 5 by Putumayo,25,141800,False,-0.288474

In [82]:
poke= pd.read_csv(r"C:\Users\musta\OneDrive\Belgeler\Deneme\Pokemon.csv")

In [83]:
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [84]:
poke[pd.isnull(poke["Type 2"])]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True

In [85]:
poke["Type 2"].fillna("There's not a type 2 value")

0                          Poison
1                          Poison
2                          Poison
3                          Poison
4      There's not a type 2 value
                  ...
795                         Fairy
796                         Fairy
797                         Ghost
798                          Dark
799                         Water
Name: Type 2, Length: 800, dtype: object

In [96]:
poke["Type 1"].replace("Grass","Wood", inplace= True)
poke.head()

C:\Users\musta\AppData\Local\Temp\ipykernel_3748\3069252413.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  poke["Type 1"].replace("Grass","Wood", inplace= True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Wood,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Wood,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Wood,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Wood,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [97]:
pokew=poke["Type 1"].replace("Grass","Wood")
pokew.head()

0    Wood
1    Wood
2    Wood
3    Wood
4    Fire
Name: Type 1, dtype: object